<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{common/Layout :: common-w-head}"></div>
</head>
<body>

	<!-- ヘッダー部 -->
    <div th:replace="~{common/Layout :: common-header}"></div>

    <!-- メインコンテンツ領域 (共通レイアウト) -->
    <main class="main-content">
        <h2 class="page-title">ホーム</h2>

        <!-- グリッドボタンエリア (共通クラス .item-block-w を利用) -->
        <div class="menu-grid">
            <a href="../w/outerdisplay" class="item-block-w">屋外用<br>呼び出し画面</a>
            <a href="../w/innerdisplay" class="item-block-w">屋内用<br>注文リスト</a>
            <a href="../w/polestarpos" class="item-block-w">POSレジ</a>
            <a href="../settings" class="item-block-w">設定</a>
        </div>
        <div class="menu-grid" sec:authorize="hasAnyAuthority('店長', 'ROLE_店長')">
            <a href="../w/account/staff" class="item-block-w">従業員管理</a>
            <a href="../w/account/customer" class="item-block-w">利用者管理</a>
            <a href="../w/casherhistory" class="item-block-w">会計履歴</a>
            <a href="../w/editmenu" class="item-block-w">メニュー</a>
        </div>
        <div class="menu-grid">
            <a href="../w/dashboard" class="item-block-w">ダッシュボード</a>
            <!-- <form th:action="@{/logout}" method="post" style="display: contents;">
                <button type="submit" class="item-block-w" style="border: none; cursor: pointer;">ログアウト</button>
            </form> -->
            <a href="" class="air-block-w"></a>
            <a href="" class="air-block-w"></a>
            <a href="" class="air-block-w"></a>
        </div>
    </main>

</body>
</html>