/* 共通基本レイアウト用のCSS */

html,body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* 基本 */
body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
    background-color: #f9f9f9;
}

.main-content{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    flex: 1;
    overflow-y: auto;
}

h2,h3{
    cursor: default;
}


/* ヘッダー部分 */
.header-content{
    flex-shrink: 0;
    background-color: #fffce9;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.system-title a{
    color: #393939;
    text-decoration: none;
}

.header-btn{
    width: 73px;
}

.header-stampcard{
    cursor: pointer;
    padding-right: 3px;
}

.header-btn-w{
    width: 150px;
    margin-right: 5px;
    margin-left: 5px;
}

.header-btn-w a{
    color: #393939;
    text-decoration: none;
}

/* コンテンツ */
/* 基本ブロック */
.item-block{
    position: relative;
    background-color: #fffce9;
    min-height: 100px;
    min-width: 300px;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    /* box-shadow: inset [横方向] [縦方向] [ぼかし] [広がり] [色]; */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.item-block:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.item-block-text{
    color: gray;
    margin-right: 60px;
}

.item-block-info {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;   
    margin-bottom: 8px;
}

.item-block-info p {
    margin: 0;      /* pタグのデフォルト余白をクリア */
}

/* 拡大ボタン */
.expansion-btn{
    cursor: pointer;
    position: absolute; 
    top: 0;
    right: 0;
    margin: 10px;
}

/* フッター */
.footer-content{
    flex-shrink: 0;
    background-color: #fffce9;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer-btn{
    cursor: pointer;
}


/* --------------------------------
        モバイルレイアウト
----------------------------------*/

@media screen and (max-width: 800px) {
    /* 基本 */

    .main-content{
        padding-left: 10px;
        padding-right: 10px;
    }

    /* フッター */
    .footer-content{
        padding-left: 10px;
        padding-right: 10px;
    }
}