/* プロフィール画面 */

/* 上部 */

.img-button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.userEditBtn{
    height: 40px;
}

.upper-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lowwer-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lowwer-item img {
    border-radius: 100%;
    margin-top: 30px;
    width: 15%;
}

.username{
    margin-top: 10px;
}

/* --------------------------------
        モバイルレイアウト
----------------------------------*/

@media screen and (max-width: 800px) {
    .lowwer-item img {
        width: 40%;
    }
}