<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Polestar | ORDER ZANGI</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link href="../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <link href="../../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <link href="../../static/css/add.css" th:href="@{/css/add.css}" rel="stylesheet" />
</head>

<body>
	<!-- ヘッダー部 -->
    <!-- いずれ移行 -->
	<!-- <div th:replace="~{common/header}"></div> -->
    <header class="header-content">
        <div class="header-btn"></div>
        <div class="system-title">
            <a href="/" th:href="@{/}"><h2>ORDER ZANGI</h2></a>
        </div>
        <div class="header-stampcard header-btn">
            <a href="/stampcard" th:href="@{/stampcard}">
                <img style="width: 65px; height: auto;" src="../../static/img/スタンプカード.png" th:src="@{/img/スタンプカード.png}" alt="スタンプカード">
            </a>
        </div>
    </header>

    <!-- メインコンテンツ部 -->
    <main class="main-content">
        <div class="main-PC">
            <div class="additem-block">
                <img class="add-product-img" src="../../static/img/ザンギ弁当.jpg" alt="">
                <div class="add-select">
                    <h1>元祖ザンギ弁当（5個）</h1>
                    <h3>￥780円</h3>
                    <br><br>
                    <div class="add-selector d-flex align-items-center mb-3">
                        <h2 class="fs-5 me-3 mb-0 col-auto">ご飯の量：</h2>
                        <select class="form-select form-select-sm col" name="rice-amount">
                            <option value="max">特盛</option>
                            <option value="high">大盛り</option>
                            <option value="standard">普通</option>
                            <option value="min">小盛</option>
                        </select>
                    </div>
                    <div class="add-selector d-flex align-items-center mb-3">
                        <h2 class="fs-5 me-3 mb-0 col-auto">　ソース：</h2>
                        <select class="form-select form-select-sm col" name="source-type">
                            <option value="max">おろしポン酢ソース</option>
                            <option value="high">自家製タルタルソース</option>
                            <option value="standard">油淋鶏風ネギダレ</option>
                            <option value="min">旨辣麻婆ソース</option>
                        </select>
                    </div>
                    <h1 class="mt-5" style="display: flex; justify-content: center;">合計：￥960円</h1>
                    <div class="gap-2 pt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <button id="changesConfirmedBtn" type="submit" class="btn btn-warning mt-4" style="width: 50%;">カートに入れる</button>
                        <a href="/dashboard" id="discardChanges" class="btn btn-outline-secondary mt-3" style="width: 30%;">破棄して戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- フッダー部 -->
    <!-- いずれ移行 -->
	<!-- <div th:replace="~{common/footer}"></div> -->
    <footer class="footer-content">
        <div class="footer-btn">
            <a href=""><img style="width: 36px; height: 53px;" src="../../static/img/ホームボタン.png" alt="ホーム"></a>
        </div>
        <div class="footer-btn">
            <a href=""><img style="width: 48px; height: 53px;"  src="../../static/img/メニューボタン.png" alt="メニュー"></a>
        </div>
        <div class="footer-btn" style="position: relative; top: -20px;">
            <a href=""><img style="width: 77px; height: 96px;" src="../../static/img/予約ボタン.png" alt="予約"></a>
        </div>
        <div class="footer-btn">
            <a href=""><img style="width: 33px; height: 51px;" src="../../static/img/履歴ボタン.png" alt="履歴"></a>
        </div>
        <div class="footer-btn">
            <a href=""><img style="width: 60px; height: 51px;" src="../../static/img/マイページボタン.png" alt="マイページ"></a>
        </div>
    </footer>
</body>

</html>