<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{common/Layout :: common-head}"></div>
    <link href="../static/css/c-start.css" th:href="@{/css/c-start.css}" rel="stylesheet" />
</head>

<body>
    <main>
        <div></div>
        <div>
            <p>Powerd by</p>
            <h1 class="orbitron">Pole<span style="color: #ffd736;">star</span></h1>
        </div>
        <h2 class="saira">DBS</h2>
    </main>

    <!-- 1.5秒後にログイン画面へ自動遷移 -->
    <script th:inline="javascript">
        setTimeout(() => {
            window.location.href = /*[[@{/login}]]*/ '/login';
        }, 1500);
    </script>
</body>

</html>